.todolist-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 20px 0;
    background-color: #414040;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

/* .todolist-item:hover {
    background-color: #f1f1f1;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
} */

.task-details {
    flex-grow: 1;
}

.task-actions {
    display: flex;
    gap: 10px;
}

.action-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    transition: transform 0.2s;
}

.action-btn:hover {
    transform: scale(1.1);
}

.image {
    height: 5vh;
    width: 5vw;
    border-radius: 50%;
}

h3 {
    font-size: 25px;
    color: #04AA6D;
    margin: 0;
}

p {
    font-size: 14px;
    margin: 5px 0 0;
    color: rgb(161, 161, 161);
}